{
	"root": true,
	"env": {
		"browser": true
	},
	"plugins": [
		"prettier",
		"vuejs-accessibility"
	],
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:vue/vue3-recommended",
		"plugin:vuejs-accessibility/recommended",
		"plugin:prettier/recommended"
	],
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"project": "./tsconfig.eslint.json",
		"sourceType": "module",
		"extraFileExtensions": [
			".vue"
		]
	},
	"rules": {
		"@typescript-eslint/no-non-null-assertion": 0,
		"@typescript-eslint/ban-types": 0,
		"@typescript-eslint/no-unnecessary-condition": 0,
		"@typescript-eslint/no-unsafe-argument": 0,
		"@typescript-eslint/no-unsafe-assignment": 0,
		"@typescript-eslint/no-use-before-define": 0,
		"@typescript-eslint/unified-signatures": 0,
		"vuejs-accessibility/label-has-for": 0,
		"vue/multi-word-component-names": 0,
		"vue/block-lang": [
			"error",
			{
				"script": {
					"lang": "ts"
				}
			}
		],
		"vue/component-api-style": [
			"error",
			[
				"script-setup",
				"options"
			]
		],
		"vue/component-name-in-template-casing": [
			"error",
			"kebab-case",
			{
				"registeredComponentsOnly": false
			}
		],
		"no-redeclare": 0,
		"prefer-const": 0
	}
}
