{
	"extends": ["@rws-air"],
	"rules": {
		// TODO: Remove these after moving to a TypeScript codebase
		"@typescript-eslint/explicit-member-accessibility": "off",
		"@typescript-eslint/no-floating-promises": "off",
		"@typescript-eslint/restrict-plus-operands": "off",

		// Disabled because the following are handled by Prettier
		"operator-linebreak": "off",
		"padded-blocks": "off",
		"quote-props": "off",
		"function-paren-newline": "off"
	},
		"overrides": [
		{
			"files": ["src/lib/structures/color/*.ts"],
			"rules": {
				"import/first": 0,
				"no-throw-literal": 0
			}
		}
	]
}
