{
	"extends": ["@favware/eslint-config-react-app", "plugin:prettier/recommended"],
	"overrides": [
		{
			"files": ["src/lib/structures/color/*.ts"],
			"rules": {
				"import/first": 0,
				"no-throw-literal": 0
			}
		}
	],
	"rules": {
		"dot-notation": "error"
	}
}
