# dependencies
node_modules
package-lock.json

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

# misc
.DS_Store
Thumbs.db

# Logs
logs/
coverage/
*.log*

# Local env vars
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE Settings
.idea/
.vs/

# Nuxt files
.nuxt
.nitro
.cache
.output
.env
dist
