$scrollbarColor: rgba(113, 137, 218, 0.4);

*::-webkit-scrollbar {
	width: 0.45em;
}

*::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

*::-webkit-scrollbar-track {
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

*::-webkit-scrollbar-thumb {
	background-color: $scrollbarColor;
	border-radius: 4px;

	&:hover {
		background-color: darken($color: $scrollbarColor, $amount: 2);
		transition: background-color 0.5s ease;
	}

	&:vertical {
		border-radius: 100px;
		-webkit-border-radius: 100px;

		&:active {
			border-radius: 100px;
			-webkit-border-radius: 100px;
		}
	}
}
