// Extra Small tablets and large smartphones (landscape view)
$screen-xs-max: 460px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 600px;

// Small tablets (portrait view)
$screen-md-max: 960px;

// Tablets and small desktops
$screen-lg-max: 1280px;

// Large tablets and desktops
$screen-xl-max: 1920px;

@mixin xs {
	@media (max-width: #{$screen-xs-max}) {
		@content;
	}
}

@mixin sm {
	@media (max-width: #{$screen-sm-max}) {
		@content;
	}
}

// Medium devices
@mixin md {
	@media (max-width: #{$screen-md-max}) {
		@content;
	}
}

// Large devices
@mixin lg {
	@media (max-width: #{$screen-lg-max}) {
		@content;
	}
}

// Extra large devices
@mixin xl {
	@media (max-width: #{$screen-xl-max}) {
		@content;
	}
}

@mixin small-laptop {
	@media (width: 1440px) {
		@content;
	}
}
