$primaryMain: #7289da;
$primaryLighter: #a4b9ff;
$primaryDarker: #3d5ca8;
$primaryContrastText: #ffffff;

$secondaryMain: #2c2f33;
$secondaryLighter: #36393f;
$secondaryDarker: #23272a;
$secondaryContrastText: #ffffff;
