@import '../variables/breakpoints';

.box {
	margin-bottom: 1.5rem;
}

.selectBox {
	width: 10rem;

	&Margin {
		@include xs {
			margin-top: 1rem;
		}
	}
}

.textField {
	padding-left: 1rem;
	width: 15rem;

	@include md {
		padding-left: unset;
	}

	@include xs {
		margin-top: 1rem;
		width: 5rem;
	}

	&HelperText {
		position: absolute;
		bottom: -24px;
		left: -12px;
		width: 500px;
		padding-left: 2rem;

		@include md {
			padding-left: 1rem;
		}

		@include xs {
			padding-left: 0.8rem;
		}
	}
}

.label {
	padding-left: 1rem;

	@include md {
		padding-left: unset;
	}
}
