@import '../variables/theme';

.slider {
	color: $secondaryLighter;
	height: 8px;
}

.valueLabel {
	left: calc(-50% - 0.5rem);
}

.thumb {
	background-color: #ffffff;
	border-radius: 3px;
	border: 1px solid #dcddde;
	box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
	cursor: ew-resize;
	height: 24px;
	left: 16.6667%;
	margin-left: -5px;
	margin-top: -13px;
	top: 50%;
	width: 10px;
}

.track {
	background-color: #fbb848;
	height: 8px;
	border-radius: 6px;
}

.rail {
	background-color: #69c49a;
	opacity: 1;
	height: 8px;
	border-radius: 6px;
}
