*::-webkit-scrollbar {
	width: 0.45em;
}
*::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}
*::-webkit-scrollbar-track {
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(113, 137, 218, 0.4);
	border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: rgba(105, 130, 216, 0.4);
	transition: background-color 0.5s ease;
}
*::-webkit-scrollbar-thumb:vertical {
	border-radius: 100px;
	-webkit-border-radius: 100px;
}
*::-webkit-scrollbar-thumb:vertical:active {
	border-radius: 100px;
	-webkit-border-radius: 100px;
}
