@import 'tailwindcss';
@import './brand.css';
@import './fonts.css';
@plugin "@tailwindcss/typography";

@plugin 'daisyui' {
	themes: light, midnight, dark;
	root: ':root';
	logs: true;
}

@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(90% 0 0);
	--color-base-300: oklch(85% 0 0);
	--color-base-content: oklch(21% 0.006 285.885);
	--color-primary: oklch(63% 0.2502 28.13);
	--color-primary-content: oklch(93% 0.034 272.788);
	--color-secondary: oklch(45% 0.24 277.023);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(77% 0.152 181.912);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: oklch(44.43% 0.0146 259.82);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(58% 0.233 277.117);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 1rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1.5px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: 'dark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(25.33% 0.0159 252.42);
	--color-base-200: oklch(23.26% 0.014 253.1);
	--color-base-300: oklch(21.15% 0.012 254.09);
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary: oklch(63% 0.2502 28.13);
	--color-primary-content: oklch(96% 0.018 272.314);
	--color-secondary: oklch(65% 0.241 354.308);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(77% 0.152 181.912);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(58% 0.233 277.117);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 1rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1.5px;
	--depth: 0;
	--noise: 0;
}

@plugin 'daisyui/theme' {
	name: 'midnight';
	default: false;
	prefersdark: false;
	color-scheme: 'dark';
	--color-base-100: oklch(0% 0 0);
	--color-base-200: oklch(10% 0 0);
	--color-base-300: oklch(27% 0 0);
	--color-base-content: oklch(87.609% 0 0);
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary: oklch(63% 0.2502 28.13);
	--color-primary-content: oklch(96% 0.018 272.314);
	--color-secondary: oklch(65% 0.241 354.308);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(77% 0.152 181.912);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(58% 0.233 277.117);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 1rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1.5px;
	--depth: 1;
	--noise: 0;
}

@theme inline {
	--branding-wolfstar: oklch(var(--color-primary) / <alpha-value>);
}

@theme {
	--default-ring-width: 3px;
	--default-ring-color: var(--color-blue-500);
	--font-whitney: 'Whitney';
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@utility icon {
	vertical-align: text-bottom !important;
}

@utility prose {
	@apply max-w-none;
}

@layer base {
	input::placeholder,
	textarea::placeholder {
		color: var(--color-gray-400);
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}
