.link,
.link:hover,
.link:visited {
	color: 'inherit';
	text-decoration: none;
}

.headerRoot {
	white-space: nowrap;
	overflow: hidden;
	display: inline-flex;
	text-overflow: ellipsis;
}

.headerContent {
	white-space: pre-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
