name: Continuous Delivery

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'pages/**' # Directory Nuxt
      - 'components/**' # Directory Nuxt
      - 'composables/**' # Directory Nuxt
      - 'layouts/**' # Directory Nuxt
      - 'assets/**' # Directory Nuxt
      - 'plugins/**' # Directory Nuxt
      - 'store/**' # Directory Nuxt
      - 'shared/**' # Directory Nuxt
      - 'server/**' # Directory Nuxt
      - 'nuxt.config.ts' # File config Nuxt
      - 'Dockerfile'
      - '.github/workflows/continuous-delivery.yml'
      - 'package.json'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  LATEST_TAG: ghcr.io/${{ github.repository }}:latest
  HASH_TAG: ghcr.io/${{ github.repository }}:${{ github.sha }}

jobs:
  build:
    name: Publish WolfStar latest image to container registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push by digest
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
